.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,button{
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

#foods{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#foods td,th{
  border:1px solid #ddd;
  padding: 8x;
}

#foods tr:nth-child(even){background-color: #ddd;}

#foods tr:hover {background-color: #ddd;}

#foods th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: teal;
  color: white;
}
